<htm>
    <canvas id="conway" width="500" height="500"></canvas>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
    </style>
    <script>
        conway = document.getElementById("conway").getContext("2d")
        const height = 600
        const width = 500
        const size = 5

        initArray = (w, h) => {
            arr = []
            for (let x=0; x < w; x++){
                arr[x] = []
                for(let y = 0; y < h ;y++){
                    arr[x][y] = 0;
                }
            }
            return arr
        }

        grid = initArray(width/size, height/size)
        tmpgrid = initArray(width/size, height/size)

        cellValue = (x,y) => {
            try{
                return grid[x][y]
            } catch {
                return 0;
            }
        }

        setIsLife = (x,y) => {
            brothers = getCountBrothers(x,y)
            if (brothers > 4 || brothers < 3) return 0
            if (grid[x][y] === 0 && brothers === 3) return 1
            return  grid[x][y]
        }
        updateLife = () => {
            conway.clearRect(0, 0, width, height)
            setDraw(0,0,"white", width)

            for (let x = 0; x<width/size; x++){
                for (let y = 0; y<height/size; y++){
                    tmpgrid[x][y] = setIsLife(x,y)
                }
            }

            grid = tmpgrid

            for (let x = 0; x<width/size; x++){
                for (let y = 0; y<height/size; y++){
                    if(grid[x][y]) {
                        setDraw(x*size, y*size, "green", size)
                    }
                }
            }
            setTimeout(() =>{
                requestAnimationFrame(updateLife)
            }, 100)
        }
        
        initLife = () => {
            for (let x = 0; x < width/size; x++) {
                for (let y = 0; y < height/size; y++){
                    if (Math.random() > 0.5) {
                        grid[x][y] = 1;
                    }
                }
            }
            updateLife()
        }

        function getCountBrothers (x,y){
            count = 0
            if(cellValue(x-1,y))count ++
            if(cellValue(x+1,y))count ++
            if(cellValue(x,y-1))count ++
            if(cellValue(x,y+1))count ++
            if(cellValue(x-1,y-1))count ++
            if(cellValue(x+1,y+1))count ++
            if(cellValue(x-1,y+1))count ++
            if(cellValue(x+1,y-1))count ++
            return count
        }

        function setDraw  (x,y,c,s) {
            conway.fillStyle = c
            conway.fillRect(x,y,s,s)
        }
        
        initLife()
    </script>
</htm>